
/*
font wight :
100 => thin 
200 => semi light 
300 => light 
400 => normal
500 => medium
600 =>  semi bold 
700 =>  bold 
800 => ultra bold 
900 => black 
*/


div{
  font-family: system-ui;
}
#text1{
  font-weight: 100;
}
#text2{
  font-weight: 200;
}
#text3{
  font-weight: 300;
}
#text4{
  font-weight: normal;
}
#text5{
  font-weight: 500;
}
#text6{
  font-weight: 600;
}
#text7{
  font-weight: bold;
}
#text8{
  font-weight: 800;
}
#text9{
  font-weight: 900;
}
