@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');


h1 {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}